#memetvembedSettings {
    padding: 10px;
}

#memetvembedSettings label {
    display: block;
}

#memetvembedSettings p {
    padding: 0;
    margin: 0 0 5px 0;
}

#memetvembedSettings_input {
    width: 100%;
}

#memetvembedSettings p span {
    font-size: smaller;
}

#memetvembedSettings_name {
    width: 100%;
}


#memetvembedSettings_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000000;
}
#memetvembedSettings_content {
  position: fixed;
  width: 400px;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #333;
  z-index: 1000001;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#memetvembedSettings_content .memetvembedSettings_settings {
  padding: 10px;
}

#memetvembedSettings_content .titlebar {
  background-color: #7dc245;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}


#memetvembedSettings_close {
  float: right;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  outline: none;
}
